<div id="header-container">
    <div id="name">
        <a href="{{ url_for('redirection') }}">
            <h2>KAUNOFL▲TS</h2>
        </a>
    </div>
    <div id="links">
        <a href="https://github.com/gr1dsan/KaunoFlats_Data_Analisys_Project.git">Project Repository</a>
        <a href="https://kaggle.com/datasets/892818a3efd222a9a2e0260b4eedadb73e8b4d535c7d95d75c5790a758ce46f1">Dataset Link</a>
        <a href="https://www.linkedin.com/in/vladyslav-hridin-b11b68356/">LinkedIn</a>
    </div>
</div>