<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KaunoFlats</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='title.css') }}">
</head>
<body>

  {%include 'header.html' %}

  <div class="hero">
    <h1>Find your perfect district</h1>
    <p>Select your priorities and evaluate districts in Kaunas to find the one that best suits your needs, with informative data and visualizations.</p>
    <a href="{{ url_for('main') }}">
      <button id="okbutton">Get Started</button>
    </a>
  </div>

  <div class="footer-wave"></div>
</body>
</html>
