body {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      background-color: white;
      color: #2c3e50;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
      overflow-x: hidden;
}

#topbar {
      display: flex;
      justify-content: flex-start;  
      align-items: center; 
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background-color: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      z-index: 1001;
}

#topbar h2{
      margin-top: 18px;  
      margin-left: 20px;        
      text-align: left;   
      color: #003153;      
      font-style: normal;
      font-family: 'Roboto', sans-serif;
}

#name a{
      text-decoration: none;
}

#links a{
      margin-left: 30px;
      color: rgb(86, 86, 86);
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: normal; 
      text-decoration: none;
}

.hero {
      max-width: 700px;
}

.hero h1 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 15px;
      color: #003153;
}

.hero p {
      font-size: 20px;
      margin-bottom: 25px;
      color: #444;
}

.hero button {
      background-color: #0096FF;
      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s ease;
}

.hero button:hover {
      background-color: lightskyblue;
}

.footer-wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, rgba(0, 150, 255, 0.7), transparent);
  transform-origin: bottom; /* scale from bottom */
  animation: breathe 5s ease-in-out infinite, grow 5s ease-in-out infinite;
}

@keyframes breathe {
  50% { opacity: 0.6; }
}

@keyframes grow {
  0%, 100% { transform: scaleY(0.5); }
  50% { transform: scaleY(1.2); }
}